.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: #797979;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-game {
  display: block;

  background-color: #797979;
}

.container-game-board {
  display: flex;
  flex-wrap: wrap;
  width: 906px;
  height: 906px;
  background-color: rgb(243, 243, 192);
  border: black solid 1px;
}

.mole-hole {
  height: 300px;
  width: 300px;
  background-color: white;
  border: black solid 1px;
}
